<div class="modal">

  <h1>Challenge {{config.opponentUsername}}</h1>
  
  <h2>Battle your rivals to your heart's content and challenge friends to a customizable unranked match! </h2>

  <div class="content">

    <div class="setting" *ngFor="let setting of settings">
      <h3>{{setting.label}}</h3>
      <app-tab-selector [tabs]="setting.allValues" [(selectedTab)]="setting.currentValue"
        [tabStrings]="setting.valueStrings" [allowSwitchToTab]="allowSwitchToValue.bind(this, setting)" />
    </div>
    
  </div>


  <div class="buttons">
    <p class="error">{{(error$ | async)}}</p>
    <app-solid-button label="Send" [color]="ButtonColor.BLUE" (click)="challenge()" />
  </div>


  
</div>