<div class="modal">

  <h1>Challenge {{config.opponentUsername}}</h1>
  
  <h2>Battle your rivals to your heart's content and challenge friends to a customizable unranked match! </h2>

  <div class="content">

    <div class="setting">
      <h3>{{modeSetting.label}}</h3>
      <app-tab-selector [tabs]="modeSetting.allValues" [(selectedTab)]="modeSetting.currentValue"
        [tabStrings]="modeSetting.valueStrings" [tabIcons]="modeSetting.icons" [allowSwitchToTab]="allowSwitchToValue.bind(this, modeSetting)" />
    </div>

    <div class="settings">
      <div class="setting" *ngFor="let setting of visibleSettings">
        <h3>{{setting.label}}</h3>
        <app-tab-selector [tabs]="setting.allValues" [(selectedTab)]="setting.currentValue"
          [tabStrings]="setting.valueStrings" [tabIcons]="setting.icons" [allowSwitchToTab]="allowSwitchToValue.bind(this, setting)" />
      </div>
    </div>
    
  </div>


  <div class="buttons">
    <p class="error">{{(error$ | async)}}</p>
    <app-solid-button label="Send" [color]="ButtonColor.BLUE" (click)="challenge()" />
  </div>


  
</div>