<div class="root">

    <app-fullscreen-exit-button *ngIf="!(foundOpponent$ | async)" />

    <app-loading-screen (score)="setScore($event)" [resolution]="2" [blockSize]="50" [blockSpeed]="4"
        [explodeEverything]="!!(foundOpponent$ | async)"
    />

    <div class="content" [ngClass]="{visible : !(foundOpponent$ | async)}">

        <div class="score"><p *ngIf="scoreVisible">Score: {{score}}</p></div>

        <div class="center-container center-div">
            <h1>{{getMessage((numPeriods$ | async) ?? 0)}}</h1>
            <p>{{playersInQueue$ | async}} {{(playersInQueue$ | async) === 1 ? 'player' : 'players'}} in queue</p>
        </div>

    </div>

    <div class="found-container" *ngIf="(foundOpponent$ | async) as foundOpponent">

        <div class="upper-container"></div>

        <div class="found-opponent bounded" >
            <div class="player left" *ngIf="(me$ | async) as me">
                <app-league-icon [league]="me.league" [height]="220" />
                <p class="username">{{me.username}}</p>
                <app-trophies [trophies]="me.trophies" [size]="25" />
            </div>
            <div class="versus">
                <img src="./assets/img/misc-icons/vs.svg" />
                <div class="versus-trophies">
                    <app-trophies [trophies]="'+' + foundOpponent.trophyDelta.trophyGain" [size]="30" [reverse]="true" color="#58D774" />
                    <app-trophies [trophies]="foundOpponent.trophyDelta.trophyLoss" [nonnegative]="false" [size]="30" [reverse]="true" color="#F15757" />
                </div>

                <p *ngIf="!foundOpponent.levelCap && foundOpponent.startLevel < 18">Level {{foundOpponent.startLevel}} start</p>
                <p *ngIf="!foundOpponent.levelCap && foundOpponent.startLevel >= 18">Level {{foundOpponent.startLevel}} start, uncapped</p>
                <p *ngIf="foundOpponent.levelCap">Level {{foundOpponent.startLevel}} start, capped at {{foundOpponent.levelCap}}</p>
            </div>
            <div class="player right">
                <app-league-icon [league]="foundOpponent.opponentLeague" [height]="220" [flipped]="true" />
                <p class="username">{{foundOpponent.opponentName}}</p>
                <app-trophies [trophies]="foundOpponent.opponentTrophies" [size]="25" />
            </div>
        </div>

        <div class="ranked-stats bounded">
            <app-ranked-stat label="Highscore" [isPercent]="false" [myValue]="foundOpponent.myStats.highscore" [opponentValue]="foundOpponent.opponentStats.highscore" />
            <app-ranked-stat label="Performance" [isPercent]="false" [myValue]="foundOpponent.myStats.performance" [opponentValue]="foundOpponent.opponentStats.performance" />
            <app-ranked-stat label="Survival" [isPercent]="true" [myValue]="foundOpponent.myStats.consistency" [opponentValue]="foundOpponent.opponentStats.consistency" />
            <app-ranked-stat label="Efficiency" [isPercent]="true" [myValue]="foundOpponent.myStats.aggression" [opponentValue]="foundOpponent.opponentStats.aggression" />
        </div>

        <div class="lower-container">
            
        </div>

    </div>
</div>

<app-main-chat />