<ng-container *ngIf="result$ | async as result">
    <div class="root" *ngIf="state$ | async as state"
    [ngClass]="{
        'solo-finish' : result === PuzzleRushResult.SOLO,
        'correct': result === PuzzleRushResult.VICTORY,
        'incorrect': result === PuzzleRushResult.DEFEAT,
        'tie': result === PuzzleRushResult.TIE,
        'rush' : state.players.length === 1,
        'battle' : state.players.length === 2,
        'after-game' : state.status === PuzzleRushStatus.AFTER_GAME,
    }">


        <app-xp-status />

        <div class="content">

            <header>
                <h1 class="title">{{state.players.length === 1 ? 'PUZZLE BLITZ' : 'PUZZLE WARS'}}</h1>
            </header>

            <p class="instructions">{{puzzleRushRoom.text$ | async}}</p>

            <div class="main-row">

                <!-- show undo button if in puzzle solving mode and can undo -->
                <app-outline-button class="undo-button" label="Undo"
                [ngStyle]="{visibility: (canUndo$ | async) && (state.status === PuzzleRushStatus.DURING_GAME) ? 'visible' : 'hidden'}" (click)="clickUndo$.next()" />

                <ng-container *ngIf="currentPuzzle$ | async as currentPuzzle">

                    <!-- If before game, show ready button -->
                    <app-nes-board *ngIf="state.status === PuzzleRushStatus.BEFORE_GAME"
                        class="board" [scale]="3.3"
                        [gameOver]="me(state).status === PuzzleRushPlayerStatus.NOT_READY ? GameOverMode.READY : (state.players.length === 1 ? undefined : 'Waiting for opponent...')"
                        [gameOverShowNext]="me(state).status === PuzzleRushPlayerStatus.NOT_READY"
                        (clickNext)="puzzleRushRoom.sendReadyEvent()"
                    />

                    <ng-container *ngIf="state.status === PuzzleRushStatus.DURING_GAME">

                        <!-- If in countdown, show countdown -->
                        <app-nes-board *ngIf="countdownTimer$ | async as time; else duringGame"
                            class="board" [scale]="3.3"
                            [countdown]="time"
                        />

                        <ng-template #duringGame>
                            <!-- If in game, show current puzzle -->
                             <ng-container *ngIf="state.status === PuzzleRushStatus.DURING_GAME">
                                <app-puzzle-nes-board *ngIf="puzzleRushIncorrect(me(state)) < state.strikes; else struckOut"
                                    class="board" [scale]="3.3" [level]="18" [puzzle]="currentPuzzle"
                                    [undo$]="clickUndo$" (canUndo)="canUndo$.next($event)"
                                    (submitPuzzle)="puzzleRushRoom.submitPuzzle($event)"
                                    [ngClass]="{'shake' : incorrectShake$ | async}"
                                />
                                <ng-template #struckOut>
                                    <app-nes-board class="board" [scale]="3.3" [board]="currentPuzzle.board"
                                        [defaultOpacity]="0.3" countdown="Game Over"
                                    />
                                </ng-template>

                            </ng-container>
                        </ng-template>

                    </ng-container>

                    <!-- If after game, show last puzzle -->
                    <ng-container *ngIf="state.status === PuzzleRushStatus.AFTER_GAME">
                        <app-nes-board *ngIf="selectedPuzzle$ | async as selectedPuzzle"
                            class="board" [scale]="3.3"
                            [board]="selectedPuzzle.board" [defaultOpacity]="0.4"
                            [activePiece]="selectedPuzzle.currentPlacement" [activePieceOpacity]="1"
                            [nextPiece]="selectedPuzzle.nextPlacement" [nextPieceOpacity]="1"
                        />
                        <app-nes-board *ngIf="!(selectedPuzzle$ | async)" class="board" [scale]="3.3" />
                    </ng-container>

                </ng-container>

        

                <div class="puzzle-details">

                    <div class="puzzle-details-top">

                        <ng-container *ngIf="state.status !== PuzzleRushStatus.AFTER_GAME">

                            <div class="timer" [ngClass]="{'red' : timerRed(rushTimer$ | async)}">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5 0C5.15871 0 0 5.15871 0 11.5C0 17.8413 5.15871 23 11.5 23C17.8413 23 23 17.8413 23 11.5C23 5.15871 17.8413 0 11.5 0ZM15.3333 12.4583H11.5C10.971 12.4583 10.5417 12.03 10.5417 11.5V5.75C10.5417 5.22004 10.971 4.79167 11.5 4.79167C12.029 4.79167 12.4583 5.22004 12.4583 5.75V10.5417H15.3333C15.8633 10.5417 16.2917 10.97 16.2917 11.5C16.2917 12.03 15.8633 12.4583 15.3333 12.4583Z"/>
                                </svg>
                                <p>{{timerText(rushTimer$ | async)}}</p>
                            </div>
        
                            <div class="next-box-container">
                                <app-nes-piece  [scale]="3" *ngIf="currentPuzzle$ | async as currentPuzzle"
                                    [piece]="(canUndo$ | async) ? undefined : currentPuzzle.next" [level]="18"
                                />
                            </div>

                        </ng-container>

                        <ng-container *ngIf="state.status === PuzzleRushStatus.AFTER_GAME">
                            <h1 class="header red" *ngIf="state.players.length === 1">Score: {{puzzleRushScore(state.players[0])}}</h1>

                            <div class="stats" *ngIf="state.stats as stats">
                                <div class="stat" *ngFor="let stat of stats">
                                    <h1>{{stat.value[puzzleRushRoom.getMyIndex()]}}</h1>
                                    <p>{{stat.label}}</p>
                                    <h1 *ngIf="!puzzleRushRoom.isSinglePlayer()">{{stat.value[(puzzleRushRoom.getMyIndex()+1) % 2]}}</h1>
                                </div>
                            </div>
                        </ng-container>

                        
                        <div class="players" *ngIf="progressMatrix$ | async as matrix">
                            <div class="player" *ngFor="let p of myPlayersOrder(state)">
                                <div class="user" *ngIf="state.players.length === 2">
                                    <app-username [userid]="p.player.userid" [username]="p.player.username" [highestTrophies]="p.player.highestTrophies"
                                        [fontSize]="14" [fontWeight]="600" />
                                    <app-puzzle-elo [puzzleElo]="p.player.puzzleElo" [size]="14" [purple]="false" />
                                </div>
                                <div class="attempts-remaining" *ngIf="incorrectCount$ | async as incorrectCount">
                                    <app-correctness-icon-square *ngFor="let i of arrayToNumber(state.strikes)" [width]="state.players.length === 1 ? '40px' : '30px'"
                                        [correctness]="incorrectCount[p.playerIndex] > i ? Correctness.INCORRECT : Correctness.NONE" />
                                </div>
                                <h1 class="score">{{puzzleRushScore(p.player)}}</h1>
                                <div class="progress-matrix">
                                    <button *ngFor="let attempt of matrix[p.playerIndex]"  (click)="selectPuzzleIndex(state, p.playerIndex, attempt.index)"
                                            class="puzzle-icon" [ngClass]="{'selected' : isSelectedIndex(puzzleRushRoom.selectedIndex$ | async, p.playerIndex, attempt.index)}">
                                        <app-correctness-icon-square  width="18px"
                                        [correctness]="attempt.correctness" />
                                    </button>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="view-mode" *ngIf="state.status === PuzzleRushStatus.AFTER_GAME">
                            <p>Viewing {{(viewMode$ | async) === ViewMode.SOLUTION ? 'correct solution' : 'your attempt'}} for the {{ordinal((puzzleRushRoom.selectedIndex$ | async)?.puzzleIndex)}} puzzle </p>
                            <app-solid-button [label]="(viewMode$ | async) === ViewMode.SOLUTION ? 'View attempt' : 'View solution'" (smartClick)="toggleViewMode()" />
                        </div>
                        
                        

                    </div>
                    
                    <div class="puzzle-details-bottom">

                        <!-- Show skip puzzle button during game -->
                        <app-solid-button
                            label="Skip Puzzle" [color]="ButtonColor.RED" *ngIf="state.status === PuzzleRushStatus.DURING_GAME && !(countdownTimer$ | async)"
                            [stretch]="true"
                            [loadingSize]="15"
                            (smartClick)="puzzleRushRoom.submitPuzzle({})"
                        />

                         <!-- Show "leaderboard" and "play again" buttons if in after game mode -->
                        <div *ngIf="state.status === PuzzleRushStatus.AFTER_GAME" class="two-button-container">
                            <app-solid-button
                                icon="./assets/img/tab-icons/leaderboard.svg"
                                label="Rankings" [color]="ButtonColor.GREY"
                                [stretch]="true"
                                (smartClick)="goLeaderboard()"
                            />
                            <app-solid-button *ngIf="playAgainInfo(state) as info"
                                [label]="info.label" [color]="info.color"
                                [stretch]="true"
                                [disabled]="info.disable ?? false"
                                (smartClick)="playAgain()"
                            />
                        </div>

                    </div>

                </div>

                <!-- spacer purposes -->
                <app-outline-button class="undo-button" label="Undo"
                [ngStyle]="{visibility: 'hidden'}" />

            </div>

            <div class="bottom"></div>

        </div>

    </div>
</ng-container>