@import "../../../../../styles.scss";

.root {
    display: block;
    background: linear-gradient(7deg,rgba(4,182,32,.5) 0%,rgba(0,0,0,1) 70%);
    position: relative;

    transition: background-color 1s ease-in-out;

    width: 100%;
    height: 100%;
}

.root.incorrect {
    background: linear-gradient(7deg,rgba(182, 4, 4, 0.5) 0%,rgba(0,0,0,1) 70%);
}

app-xp-status {
    position: absolute;
    top: 0;
    right: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.title {
    font-family: 'NES';
    color: white;
    text-wrap: nowrap;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 0px;
}


.main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}

.puzzle-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    width: 360px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.10);;
}

.puzzle-details-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
    gap: 10px;
};

.puzzle-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-details-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    gap: 7px;
}

.puzzle-header {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.puzzle-header-icon {
    transform: translateY(1px);
}

.puzzle-header h1 {
    color: #FFF;
    text-align: center;
    font-family: $main-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.puzzle-header p {
  font-family: $main-font;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  padding: 0;
  transform: translateY(0.5px);
}

.correct .puzzle-header h1 {
    color: $ui-green-color;
}

.incorrect .puzzle-header h1 {
    color: $ui-red-color;
}

.next-box-text {
    font-family: 'NES';
    color: white;
    font-size: 20px;
    margin: 0;
}

.board {
    margin-right: 40px;
}

.next-box-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
}



.instructions {
    color: #FFF;
    text-align: center;
    font-family: Neucha;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}


.undo-button {
    align-self: flex-end;
    margin-inline: 7px;
}

img {
    display: block;
}

.timer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 15px;
    gap: 5px;
    align-items: center;
}

.timer svg {
    width: 24px;
    height: 24px;
}

.timer path {
    fill: white;
    transition: fill 1s;
}

.timer p {
    font-family: $main-font;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    transition: color 1s;
}

.timer.red p {
    color: $ui-red-color;
}

.timer.red path {
    fill: $ui-red-color;
}

@media screen and (max-width: 1200px) {
  app-xp-status {
    display: none;
  }
}

@media screen and (max-height: 800px) {
  .main-row {
    zoom: 0.8;
  }

}

@media screen and (max-height: 700px) {
  .root {
    zoom: 0.9;
  }
}

@media screen and (max-width: 600px) {
  .root {
    zoom: 0.8;
  }
}

@media screen and (max-width: 500px) {
  .root {
    zoom: 0.6;
  }
}

@media screen and (max-height: 600px) {
  .root {
    zoom: 0.7;
  }
}