<div class="modal">
    <div class="content">
        <h1 class="title">Play a solo game!</h1>
        
        <ng-container *ngIf="platform.getPlatform() === Platform.ONLINE" >
            <div class="instructions" *ngIf="meService.get$() | async as me">
                <div class="row">
                    <div><p class="translate prevent-select">As the pieces fall, you can shift them left and right using the
                        <app-editable-keybind [keybind]="me.keybind_emu_move_left" color="black" (click)="settings()" /> and
                        <app-editable-keybind [keybind]="me.keybind_emu_move_right" color="black" (click)="settings()" /> keys.</p></div>
                    <img src="./assets/img/instruction-icons/translate-piece.svg">
                </div>
                <div class="row">
                    <div><p class="rotate prevent-select">You can also rotate the pieces with
                        <app-editable-keybind [keybind]="me.keybind_emu_rot_left" color="black" (click)="settings()" /> and
                        <app-editable-keybind [keybind]="me.keybind_emu_rot_right" color="black" (click)="settings()" /> keys!</p></div>
                    <img src="./assets/img/instruction-icons/rotate-piece.svg">
                </div>
            </div>
        </ng-container>

        <div class="select-level-content">
            <div class="select-level-container">
                <h1>Select start level</h1>
                <div class="levels prevent-select">
                    <div class="level-row prevent-select" *ngFor="let levelRow of VALID_START_LEVELS">
                        <div class="level prevent-select" *ngFor="let level of levelRow"
                        [ngClass]="{'selected' : (startLevel$ | async) == level}" (click)="setStartLevel(level)">
                            <p>{{level}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="buttons">
        <app-solid-button label="Exit" [color]="ButtonColor.RED" (click)="exit()" />
        <div class="buttons-right">
            <app-solid-button *ngIf="lastGameSummary$ | async" label="Back" [color]="ButtonColor.GREY" (click)="backToSummary()" />
            <app-solid-button label="Play" [color]="ButtonColor.BLUE" (click)="startGame()" />
            <!-- TODO: keybinds button here -->
        </div>
    </div>
</div>