<div class="modal">
    <h1>Choose your skill level!</h1>
    <h2>
        Select a starting trophy count and start level, and match similarly-rated opponents! Your trophies will
        go up and down as you win and lose matches.
    </h2>

    <div class="options">
        <button class="option" *ngFor="let option of options" (click)="onClickOption(option)"
            [ngClass]="{'selected': option === (selectedOption$ | async), 'locked': !isUnlocked(option)}">
                <p class="title">{{option.label}}</p>
                <app-trophies [trophies]="option.trophies" [size]="35" />
                <p class="level">Level {{getStartLevelForElo(option.trophies)}} start</p>
                <p *ngIf="isUnlocked(option)" class="description unlocked">Unlocked!</p>
                <p *ngIf="!isUnlocked(option)" class="description locked">Unlocks at <strong>{{numberWithCommas(option.unlockScore!)}}</strong> score!</p>
        </button>
    </div>

    <div class="explain">
        <h3>
            The starting speed in ranked matches is determined by your trophies!
        </h3>
        <div class="line-container">
            <hr>
            <div class="line-circles">
                <div class="circle"><app-trophies [trophies]="0" [size]="10" /></div>
                <div class="range"><app-range [level]="6" /></div>
                <div class="circle"><app-trophies [trophies]="600" [size]="10" /></div>
                <div class="range"><app-range [level]="9" /></div>
                <div class="circle"><app-trophies [trophies]="1000" [size]="10" /></div>
                <div class="range"><app-range [level]="12" /></div>
                <div class="circle"><app-trophies [trophies]="1400" [size]="10" /></div>
                <div class="range"><app-range [level]="15" /></div>
                <div class="circle"><app-trophies trophies="1800+" [size]="10" /></div>
                <div class="range"><app-range [level]="18" /></div>
            </div>
        </div>
        
    </div>

    <div class="buttons">
        <app-solid-button label="Not yet" [color]="ButtonColor.GREY" (smartClick)="close()" />
        <app-solid-button label="Play ranked" [color]="ButtonColor.BLUE" (smartClick)="play()" [disabled]="!(selectedOption$ | async)" />
      </div>

</div>