@import "../../../../styles.scss";

.battle-elo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.battle-elo.diff {
    flex-direction: row-reverse;
}

img {
    display: block;
}

p {
    font-family: $main-font;
    font-weight: 700;
    margin: 0;
    padding: 0;
}