@import "../../../../styles.scss";

.modal {
    position: relative;
    background-color: $modal-color;
    border-radius: 15px;
}

.modal.padding { 
    padding: 15px;
}

.x {
    position: absolute;
    top: 0px;
    right: 0px;
}