@import "../../../../../styles.scss";

.game-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    margin-bottom: 5px;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.has-id .profile-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

h1.name {
    font-family: $main-font;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    gap: 0;
}

p.score {
    font-family: 'NES';
    font-size: 40px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    transform: translateY(-5px);
}

p.score.blue {
    color: $multiplayer-blue-color;
}

p.score.red {
    color: $multiplayer-red-color;
}