<div class="chat fade">

    <div class="num-players">
        <p>{{numSpectators}}</p>
        <img src="assets/img/button-icons/eye.svg" width="14px">
    </div>

    <div class="main">

        <div class="message expanding-div" *ngFor="let message of messages; trackBy: messageHash">
            <h1 class="username" *ngIf="message.username">{{message.username}}</h1>
            <p class="text" [ngClass]="message.username ? 'normal' : 'special'">{{message.message}}</p>
        </div>

        <app-chat-text-entry
            [disabledMessage]="disabledMessage"
            [placeholderText]="messages.length === 0 ? 'Begin the conversation...' : 'Send a message...'"
            (sendMessage)="sendMessage.emit($event)"
        />
    </div>

</div>