<button class="fab" *ngIf="!(showChat$ | async)" (click)="makeChatVisible()" appClickSound>
    <img [src]="chatImage$ | async" width="25px">
</button>

<div class="chat" *ngIf="showChat$ | async">
    <app-x (clickX)="makeChatInvisible()" />

    <div class="chat-content">
        <h1>Global chat</h1>
        <div class="online">
            <app-online-indicator [isOnline]="!!(numUsers$ | async)" />
            <h2>{{numUsersMessage(numUsers$ | async)}}</h2>
        </div>

        <div class="messages" #scrollContainer>
            <div class="message" *ngFor="let message of messages$ | async">
                <div class="header">
                    <div class="player" (click)="viewProfile(message.userid)" [tooltip]="getPlayerTooltip(message.username)">
                        <app-league-icon [league]="message.league" [height]="13" />
                        <h3>{{message.username}}</h3>
                    </div>
                    <p class="time-ago">{{timeAgo(message.timeMs)}}</p>
                </div>
                <p>{{message.message}}</p>
            </div>
        </div>

        <app-chat-text-entry [disabledMessage]="(disabledMessage$ | async) ?? undefined" (sendMessage)="sendMessage($event)" />
    </div>
</div>