<button class="fab" *ngIf="!(showChat$ | async)" (click)="makeChatVisible()">
    <img src="./assets/img/button-icons/chat.svg" width="25px">
</button>

<div class="chat" *ngIf="showChat$ | async">
    <app-x (clickX)="showChat$.next(false)" />

    <div class="chat-content">
        <h1>Global chat</h1>
        <div class="online">
            <app-online-indicator [isOnline]="!!(numUsers$ | async)" />
            <h2>{{numUsersMessage(numUsers$ | async)}}</h2>
        </div>

        <app-chat-text-entry />
    </div>
</div>