@import "../../../styles.scss";

.fab {
    position: absolute;
    right: 28px;
    bottom: 28px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $button-active-color;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 
              0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fab:hover {
    filter: brightness(1.1);
    transform: scale(1.03);
}

.fab:active {
    filter: brightness(1.15);
    transform: scale(1.04);
}

img {
    margin: 0;
    padding: 0;
    display: block;
}

.chat {
    position: absolute;
    right: 20px;
    bottom: 20px;

    background-color: $dark-color;
    border-radius: 10px;

    width: 70dvw;
    max-width: 300px;
    height: 400px;
    max-height: 50dvh;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 
              0px 2px 4px rgba(0, 0, 0, 0.15);
}

app-x {
    position: absolute;
    top: 3px;
    right: 3px;
}

.chat-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    padding: 15px;
}

.online {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 1px;
}

app-online-indicator {
    margin-inline: -10px;
    zoom: 0.6;
}

h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 9px;
    padding: 0;
    margin: 0;
}

app-chat-text-entry {
    margin-top: auto;
}

.messages {
    flex-grow: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.message {
    position: relative;

    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 7px;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
}

.message .header {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.message .player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.player h3 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.player:hover {
    cursor: pointer;
    opacity: 0.8;
}

.player:active {
    opacity: 0.7;
}

.message p {
    font-family: $chat-font;
    font-weight: 500;
    font-size: 10px;
    padding: 0;
    margin: 0;

    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* Standard */
    word-break: break-word; /* Ensures compatibility */
}

p.time-ago {
    font-family: $main-font;
    font-weight: 500;
    font-size: 8px;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}