<div class="container">
  <div class="container-left">
    <p *ngIf="isSender">You challenged {{invitation.receiverUsername}} to {{matchLabel()}}!</p>
    <p *ngIf="!isSender">{{invitation.senderUsername}} challenged you to {{matchLabel()}}!</p>

    <p class="info" *ngIf="asMatchInvitation() as matchInv">First to {{matchInv.winningScore}} • Level {{matchInv.startLevel}} start • {{matchInv.levelCap ? 'Level ' + matchInv.levelCap + ' cap' : 'Uncapped'}}</p>
    <p class="info" *ngIf="asPuzzleBattleInvitation() as pbInv">{{labelStrike(pbInv.strikes)}} • {{labelDuration(pbInv.duration)}}</p>
</div>
  <div class="container-right">
    <app-solid-button *ngIf="!isSender"
      icon="./assets/img/ui-icons/checkmark.svg" [color]="ButtonColor.GREY"
      (click)="acceptChallenge()" tooltip="Accept Challenge" />
    <app-solid-button
      icon="./assets/img/ui-icons/x.svg" [color]="ButtonColor.GREY"
      (click)="rejectChallenge()" [tooltip]="isSender ? 'Cancel Challenge' : 'Reject Challenge'" />
  </div>
</div>
