<div class="container">
    <div class="container-left">
        <app-league-icon [league]="friendInfo.league" [height]="27" />
        <p class="username" (click)="viewProfile()">{{friendInfo.username}}</p>
        <app-online-indicator class="online-indicator" [isOnline]="friendInfo.isOnline" [inActivity]="!!friendInfo.activity" />

        <div class="stats">
            <app-highest-score [highestScore]="friendInfo.highestScore" [size]="14" />
            <app-trophies [trophies]="friendInfo.trophies" [size]="14" />
            <app-puzzle-elo [puzzleElo]="friendInfo.puzzleElo" [size]="14" />
        </div>
        
        
    </div>
    <div class="container-right">

        <ng-container>

            <app-solid-button icon="./assets/img/button-icons/eye.svg" [color]="ButtonColor.GREY" tooltipDirection="right"
                [disabled]="!(friendInfo.activity ? spectateActivities[friendInfo.activity].canSpectate : false)"
                [tooltip]="friendInfo.activity ? spectateActivities[friendInfo.activity].tooltip : noActivityTooltip"
                [action]="spectate.bind(this)"
            />

                <app-solid-button icon="./assets/img/tab-icons/profile.svg" [color]="ButtonColor.GREY" tooltip="View profile" tooltipDirection="right" (smartClick)="viewProfile()"/>
                    
            <app-solid-button icon="./assets/img/button-icons/challenge.svg" [color]="ButtonColor.GREY" [disabled]="!friendInfo.isOnline || !!friendInfo.activity"
                [tooltip]="friendInfo.activity ? busyActivities[friendInfo.activity] : (friendInfo.isOnline ? ('Challenge ' + friendInfo.username + ' to a match!') : friendInfo.username + ' is not online')"
                tooltipDirection="right" (smartClick)="sendChallenge()" />
            <app-solid-button icon="./assets/img/puzzle-button-icons/delete.svg" class="delete" [color]="ButtonColor.GREY" (smartClick)="endFriendship()" tooltip="Remove friend" tooltipDirection="right" />
        </ng-container>
        
        
    </div>
</div>